<!-- $data is a CalendarComponentViewModel -->

<titles params="{iconPath: '/Scripts/components/navigation/images/calendar/archive.png', title: 'Archive'}"></titles>

<div class="calendarOptionBase">
	
	<!-- ko if: $data.menuMonths().length > 0 -->
    <div class="card card-default menuOptionsContainer yearsMonths">
        <div class="card-heading">
            <p data-bind="text: $data.selectedYearObservable()"></p>
        </div>
		<div class="card-body">
			<!-- ko if: $data.menuMonths -->
			<!-- ko foreach: $data.menuMonths -->
			<!-- $data is a 'MenuOption' - comes from MenuOption.createMonth -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
			<!-- /ko -->
		</div>
	</div>
	
	<p>&nbsp;</p>

	<!-- /ko -->
	<calendar-year params="{years: $data.menuYears}"></calendar-year>
</div>