
<div class="card card-default">
    <div class="card-heading">
        <p>Spotify</p>
    </div>
    <div class="card-body" style="text-align: center">
		<div class="centralize">
			<p>'In My Head Now' Playlist</p>
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amartingay1975%3Aplaylist%3A2mGzl6DMoWlO9Hldet1wlk" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
		
		<div class="centralize">
			<p>'Classics' Playlist</p>
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amartingay1975%3Aplaylist%3A0EiIGcwKrmiNH97bZavZrz" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
    </div>
</div>