
<!-- page-header class - makes it drop down 30px or so -->
<div id="page-header">
    
	<a href="/" style="margin-right:4%;">
		<span class="page-title">
			<img src="images/logo.png" height="45" />
			<span>Katie, Ben & Jessica</span>
		</span>
	</a>

	<div class="page-search" style="margin-left:5px">
	    <!-- ko component: {name: 'search'}-->
		<!-- /ko -->
	</div>


	<div class="float-right page-last-updated" style="padding-right:3%; display: inline; ">
		<span data-bind="text: 'Updated: ' + $data.dateLastUpdated()"></span>
	</div>

</div>