<!-- $data is a ComponentViewModel -->

<titles params="{iconPath: '/Scripts/components/navigation/images/calendar/special.png', title: 'Special Days'}"></titles>

<div class="calendarOptionBase">

	<div class="card card-default specialDays">
		<div class="card-heading">2020 Outings</div>
		<div class="card-body">
			<!-- ko foreach: $data.trips2020MenuOptions -->
			<!-- $data is a 'MenuOption' -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
		</div>
	</div>

	<div class="card card-default specialDays">
		<div class="card-heading">2019 Outings</div>
		<div class="card-body">
			<!-- ko foreach: $data.trips2019MenuOptions -->
			<!-- $data is a 'MenuOption' -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
		</div>
	</div>

	<div class="card card-default specialDays">
		<div class="card-heading">2018 Outings</div>
		<div class="card-body">
			<!-- ko foreach: $data.trips2018MenuOptions -->
			<!-- $data is a 'MenuOption' -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
		</div>
	</div>

	<div class="card card-default specialDays">
		<div class="card-heading">2017 Outings</div>
		<div class="card-body">
			<!-- ko foreach: $data.trips2017MenuOptions -->
			<!-- $data is a 'MenuOption' -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
		</div>
	</div>

	<div class="card card-default specialDays">
		<div class="card-heading">2016 Outings</div>
		<div class="card-body">
			<!-- ko foreach: $data.trips2016MenuOptions -->
			<!-- $data is a 'MenuOption' -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
		</div>
	</div>

	<div class="card card-default specialDays">
		<div class="card-heading">2015 Outings</div>
		<div class="card-body">
			<!-- ko foreach: $data.trips2015MenuOptions -->
			<!-- $data is a 'MenuOption' -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
		</div>
	</div>

	<div class="card card-default specialDays">
		<div class="card-heading">Gay Pre Christmas Parties</div>
		<div class="card-body">
			<!-- ko foreach: $data.gayXmasParties -->
			<!-- $data is a 'MenuOption' -->
			<calendar-tile params="{menuOption: $data}"></calendar-tile>
			<!-- /ko -->
		</div>
	</div>

</div>
