<!-- $data is a ComponentViewModel -->

<div class="panel panel-default">
    <div class="panel-heading">Ben's Strava</div>
    <div class="panel-body" style="text-align: center; vertical-align: top">
		<div class="centralize" style="text-align: center; vertical-align: top">
			<!-- Summary Widget -->
			<p>Summary</p>
			<iframe height='160'
					width='300'
					frameborder='0'
					allowtransparency='true'
					scrolling='no'
					src='https://www.strava.com/athletes/4184684/activity-summary/e18b38cc5e97803b14a01a0ffdd13e89e69743b3'></iframe>

		</div>
		<div class="centralize" style="text-align: center; vertical-align: top">
			<p>Activity</p>
			<!-- Activity Widget -->
			<iframe height='454'
					width='300'
					frameborder='0'
					allowtransparency='true'
					scrolling='no'
					src='https://www.strava.com/athletes/4184684/latest-rides/e18b38cc5e97803b14a01a0ffdd13e89e69743b3'></iframe>

		</div>
    </div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Daddy's Strava</div>
	<div class="panel-body" style="text-align: center; vertical-align: top">
		<div class="centralize" style="text-align: center; vertical-align: top">
			<!-- Summary Widget -->
			<p>Summary</p>
			<iframe height='160'
					width='300'
					frameborder='0'
					allowtransparency='true'
					scrolling='no'
					src='https://www.strava.com/athletes/995184/activity-summary/2c280701b6aac8943f609e07c728432ae68fb4e2'></iframe>

		</div>
		<div class="centralize" style="text-align: center; vertical-align: top">
			<p>Activity</p>
			<!-- Activity Widget -->
			<iframe height='454'
					width='300'
					frameborder='0'
					allowtransparency='true'
					scrolling='no'
					src='https://www.strava.com/athletes/995184/latest-rides/2c280701b6aac8943f609e07c728432ae68fb4e2'></iframe>

		</div>
	</div>
</div>



<p></p>
