@charset "UTF-8";
                                       
@import '../Scripts/components/entries/_entries.scss';
@import 'menuOption.scss';
@import '../Scripts/components/navigation/_navigation.scss';
@import '../Scripts/components/site-header/_site-header.scss';
@import '../Scripts/components/search/_search.scss';
@import '../Scripts/components/lm2016/_lm2016.scss';
@import '../Scripts/components/entries-rendered/_entries-rendered.scss';

body {
    background: url('/background1.jpg') no-repeat center center fixed;
    //font-family: Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
    background-size: cover;
    font-size: 14px;
    line-height: 1.42857143;
}

.hover-pointer:hover {
    cursor: pointer
}

.centralize {
    display: inline-block; 
    text-align: center
}

span.glyphicon {
    line-height: 0.8;
    font-size: 18px;
}

// bootstrap

.label {
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-info {
    background-color: #5bc0de;
}

.card-default>.card-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.card {
	background-color: white;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.card-default {
	border-color: #ddd;
}

.card-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}