
<div role="navigation" class="navbar navbar-default navigation-menu">

	<ul class="list-unstyled">
		<li><a href="#/entries"><img src="/Scripts/components/navigation/images/calendar/latest.png" />Latest</a></li>
		<li><a href="#/whoops"><img src="/Scripts/components/navigation/images/calendar/whoops.png" />Whoops</a></li>
		<li>
			<a href="#/calendar"><img src="/Scripts/components/navigation/images/calendar/archive.png" />Archive</a>

			<ul>
				<!-- ko foreach: $data.dateEntries -->
				<li>
					<a data-bind="attr : { 'href' : $data.href } ">
						<img data-bind="attr : { 'src' : $data.imgSrc }" />
						<span data-bind="text: $data.stringDate"></span>
					</a>
				</li>
				<!-- /ko -->
			</ul>
		</li>
		<li><a href="#/specialdays"><img src="/Scripts/components/navigation/images/calendar/special.png" />Special Days</a></li>
		<!--<li>Family Tree</li>-->
	</ul>
	
</div>

<div class="navbar navbar-default navigation-menu card">
	<ul class="list-unstyled">
		<li><a href="http://www.facebook.com/martingay71" target="_blank"><img src="/Scripts/components/navigation/images/facebook.png"/>Facebook</a></li>
		<li><a href="http://twitter.com/MartinGay1975" target="_blank"><img src="/Scripts/components/navigation/images/twitter.png" />Twitter</a></li>
		<li><a href="https://www.youtube.com/channel/UCwjc6nH9_bQH6idpPVIGKlw" target="_blank"><img src="/Scripts/components/navigation/images/youtube.png" />YouTube</a></li>
		<li><a href="#/strava"><img src="/Scripts/components/navigation/images/strava.png" />Strava</a></li>
		<li><a href="#/spotify"><img src="/Scripts/components/navigation/images/spotify.png" />Spotify</a></li>
		<li><a href="https://mgns.herokuapp.com/"><img src="/Scripts/components/navigation/images/nightscout.png" />Live Blood Sugars</a></li>
		<li><a href="https://github.com/martingay1975"><img src="/Scripts/components/navigation/images/github.png" />Github</a></li>
	</ul>
</div>
